.menu-lateral {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: $cor-2;
  top: 0;
  left: -320px;
  z-index: 999;
  height: 100%;
  width: 100%;
  max-width: 320px;
  transition: all ease 0.4s;
}

.menu-lateral__cabecalho {
  position: relative;
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  .menu-lateral__botao-fechar {
    background-color: rgba($cor-branca, 0.1);
    border: 0;
    height: 36px;
    width: 36px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    .menu-lateral__icone {
      height: 16px;
      width: 16px;
    }
    &:hover,
    &:focus {
      background-color: rgba($cor-branca, 0.3);
    }
  }
}

.menu-lateral__container {
  height: calc(100% - 84px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-lateral__logo-cabecalho {
  height: 20px;
  margin: auto 0;
}

.menu-lateral__itens-do-menu {
  list-style: none;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .menu-lateral__item {
    position: relative;
    a {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      color: $cor-branca;
      font-weight: 600;
      opacity: 0.7;
      .menu-lateral__icone {
        margin-right: 16px;
        height: 24px;
      }
      &:hover, &:focus {
        opacity: 1;
        &::after {
          background-color: rgba($cor-branca, 0.1);
        }
      }
      &::after {
        content: "";
        display: flex;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 4px;
        border-radius: 10px;
        height: calc(100% - 8px);
      }
    }
  }
  .menu-lateral__item_ativo {
    a {
      background: rgba($cor-branca, 0.1);
      opacity: 1;
      &:hover, &:focus {
        opacity: 1;
        &::after {
          background-color: $cor-3;
        }
      }
      &::after {
        background-color: $cor-3;
      }
    }
  }
}

.menu-lateral__sobreposicao {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background: rgba($cor-preta, 0.5);
}

.menu-lateral__sobreposicao_ativo {
  display: flex;
}

.menu-lateral_ativo {
  left: 0;
}

.menu-lateral__container-usuario {
  @media screen and (min-width: 1000px) {
    display: none;
  }
  padding: 24px;
  .menu-lateral__descricao-instituicao {
    color: $cor-branca;
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .menu-usuario {
    justify-content: flex-start;
    margin-top: 16px;
    padding-top: 16px;
    margin-right: 0;
    border-top: 2px solid rgba($cor-branca, 0.5);
    color: $cor-branca;
  }

  .menu-usuario__icone-usuario {
    background: rgba($cor-branca, 0.2);
  }

  .menu-usuario__botao-sair {
    width: 100%;
    background: rgba($cor-branca, 0.05);
    margin: 0;
    margin-top: 16px;
    color: $cor-branca;
    &:hover,
    &:focus {
      background: rgba($cor-branca, 0.15);
    }
  }
}
